<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
	<test name="Test">
		<groups>
			<run>
				<include name="ui">
				</include>
			</run>
		</groups>
		<classes>
			<class name="com.bit.ui.SmokeTest" />
			<class name="com.bit.ui.RegTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
 